:root {
    --dark-gray: #333;
    --light-gray: #4f4f4f;
    --light: #bdbdbd;
    --font-montserrat: "Montserrat", sans-serif;
    --font-spacemono: "Space Mono", monospace;
    --font-inconsolato: "Inconsolata", monospace;
}

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100%;
}

header .alert {
    width: 90%;
    font-family: var(--font-inconsolato);
    font-size: 24px;
    text-transform: uppercase;
    height: 80px;
    margin: 0 auto;
    display: grid;
    align-items: center;
    font-weight: bold;
}

.main-content {
    width: 90%;
    padding-top: 1rem;
    margin: 0 auto;
    min-height: 70vh;
    margin-top: 2rem;
}

.flex {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.description {
    width: 60%;
    padding-left: 2rem;
}

.description h1 {
    font-family: var(--font-spacemono);
    font-size: 4rem;
    color: var(--dark-gray);
}

.description p {
    font-family: var(--font-spacemono);
    font-size: 2rem;
    color: var(--light-gray);
    width: 80%;
    margin-top: 1rem;
}

.btn {
    width: 216px;
    height: 68px;
    background-color: var(--dark-gray);
    color: #fff;
    font-family: var(--font-spacemono);
    border: none;
    margin-top: 2.5rem;
    text-transform: uppercase;
}

.img {
    width: 60%;
}

.img img {
    width: 80%;
}

footer {
    width: 90%;
    color: var(--light);
    font-size: 0.8rem;
    font-family: var(--font-montserrat);
    font-weight: 400;
    height: 80px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    margin: 0 auto;
}

footer span {
    border-bottom: 1px solid var(--light);
    font-weight: bold;
}

@media (max-width: 768px) {
    .main-content {
        width: 100%;
        height: 100%;
    }
    .flex {
        flex-direction: column;
        align-items: center;
    }
    .description {
        width: 100%;
        margin-top: 3rem;
    }
    .description h1 {
        font-size: 3rem;
    }
    .description p {
        width: 100%;
        font-size: 1.2rem;
    }
    .img {
        width: 100%;
    }
    .img img {
        display: block;
        margin: 0 auto;
    }
    footer {
        margin-top: 3rem;
        align-items: center;
    }
}